@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  height: 100%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Poppins';
}
.BG{
  background: url(bg1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
nav{
  background: rgb(241,241,241);
  height: 60px;
  width: 100%;
}
label.logo{
  font-family:'Courier New', Courier, monospace;
  color: rgb(121, 121, 121);
  font-size: 35px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: 500;
}
label.logo:hover{
  color: #c77217;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  color: rgb(136, 136, 136);
}
a.active,a:hover{
  color: #c66815;
  transition: .5s;
}
.checkbtn{
  font-size: 25px;
  color: rgb(178, 98, 13);
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none ;
}
@media (max-width: 952px){
label.logo{
  font-size: 30px;
  padding-left: 50px;
}
nav ul li a{
  font-size: 16px;
}

}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 60%;
    height: 100vh;
    background: #e7e7e7c9;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  
#check:checked ~ ul{
  left: 0;
}
}
/*hero image styling */
.heroImage {
  background-image: url(/img/wedding1.jpg);
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.insideContainer {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  height: auto;
  margin-top: 200px;
}

h1 {
  font-size: 45px;
  font-family: "Shadows into Light", sans-serif;
}

h2 {
  margin-top: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

a {
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.btn {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  border: 4px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover,.btn:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* make the hero image work on mobile*/
@media only screen and (max-width: 920px) {
  .insideContainer{
    margin-top: 150px;
  }
  h1{
    font-size: 45px;
  }
  h2{
    font-size: 20px;
  }
  }
/* below shows how to center everything to the middle of the browser and it will adjust with the browser. 
auto means the browser will determine its own equal middle.
main {
  margin: 0 auto;
  padding: 0 0 10px;
  width: 960px;
}

*/