* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #633d33;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

header a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

header {
  padding: 0 20px;
  background-color: #f6ebeb;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #c1958a;
  font-family: 'Times New Roman', Times, serif;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul a {
  color: #c1958a;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#resume {
  background-image: linear-gradient(to right, #dd5e89, #f7bb97);
  border-radius: 5px;
  padding: 5px 8px;
  border: 2px solid white;
}

#resume a {
  color: white;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #c1958a;
  margin: 6px 0;
  transition: 0.3s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  background-color: #f6ebeb;
  opacity: 90%;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(300px - 90px);
  width: 900px;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/* below shows how to center everything to the middle of the browser and it will adjust with the browser. 
auto means the browser will determine its own equal middle. */
#mainContainer {
  margin: 0 auto;
  padding: 0 0 10px;
  width: 900px;
}

@media only screen and (max-width: 900px) {
  #mainContainer {
    width: fit-content;
  }
}

/* Hero text */
.heroText {
  padding: 70px;
  color: white;
  animation: neon 5s infinite;
}

@keyframes neon {
  0%,
  39%,
  41%,
  59%,
  61%,
  100% {
    text-shadow: white 0 0 12px, #c5127a 0 0 24px, #c5127a 0 0 36px;
  }

  40%,
  60% {
    text-shadow: none;
  }
}

.secondNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

.secondNav li {
  float: left;
}

.secondNav li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #92725f;
  font-size: 25px;
}

.secondNav li a:hover {
  color: #c1958a;
}

/*Footer Section*/

footer {
  padding: 100px;
  width: 100%;
  text-align: center;
}

/* Style all font awesome icons */
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
}

/* Add a hover effect if you want */
.fa:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
  text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #fadbcf;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: #fadbcf;
  color: white;
}

/* Twitter */
.fa-github {
  background: #fadbcf;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #fadbcf;
  color: white;
}

footer h5 {
  padding: 20px;
}
