* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  color: #633D33;
}

header a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

header {
  padding: 0 20px;
  background-color: #F6EBEB;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #C1958A;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #C1958A;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#resume {
  border-radius: 5px;
  padding: 5px 8px;
  border: 1.5px dotted #C49576;
}

#resume a {
  color: #633D33;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #C1958A;
  margin: 6px 0;
  transition: 0.3s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}


/* below shows how to center everything to the middle of the browser and it will adjust with the browser. 
auto means the browser will determine its own equal middle.
main {
  margin: 0 auto;
  padding: 0 0 10px;
  width: 960px;
}
